[Unit]
Description=NopCommerce Service
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/html/nopcommerce
ExecStart=/usr/bin/dotnet /var/www/html/nopcommerce/Nop.Web.dll
Restart=on-failure

[Install]
WantedBy=multi-user.target
